<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="default.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Kenia&display=swap" rel="stylesheet">  
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
    <canvas></canvas>
       <div class="text-box">
        <img src="images/Final_Logo.png">
        <h2>For those who feel outcasted by society.</h2>
        <a href="/shop">Shop</a>
       </div>
       <div class="info" id="about">
            <h1 style="margin-top: 2vmax;">About Us</h1>
            <p>Nameless is not just a clothing brand; it's a movement that celebrates individuality and defies societal norms. With a diverse range of fashion choices, we aim to empower people to express themselves authentically and boldly, providing a platform for self-expression and encouraging individuals to embrace their uniqueness. Through unique designs and an inclusive approach, Nameless inspires confidence and self-discovery, creating a space where everyone feels seen, heard, and accepted, fostering a sense of belonging and liberation.</p>
            <h2 style="font-size: 1max; margin-top: -1vmax;">Copyright 2023 © leafytea.host
                <a class="fa fa-twitter" href="https://x.com/nameless_global" style="color: white; margin-left: 1vmax;"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/nameless.global/" style="color: white; margin-right: 1vmax;"></a>
                All rights reserved</h2>

       </div>

       <script src="script.js"></script>
    </body>
    
</html>